# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

src/assets/*/data_day_01.txt
src/assets/*/data_day_02.txt
src/assets/*/data_day_03.txt
src/assets/*/data_day_04.txt
src/assets/*/data_day_05.txt
src/assets/*/data_day_06.txt
src/assets/*/data_day_07.txt
src/assets/*/data_day_08.txt
src/assets/*/data_day_09.txt
src/assets/*/data_day_10.txt
src/assets/*/data_day_11.txt
src/assets/*/data_day_12.txt
src/assets/*/data_day_13.txt
src/assets/*/data_day_14.txt
src/assets/*/data_day_15.txt
src/assets/*/data_day_16.txt
src/assets/*/data_day_17.txt
src/assets/*/data_day_18.txt
src/assets/*/data_day_19.txt
src/assets/*/data_day_20.txt
src/assets/*/data_day_21.txt
src/assets/*/data_day_22.txt
src/assets/*/data_day_23.txt
src/assets/*/data_day_24.txt